
button{
    cursor: pointer;
    font-size: 14px;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.action-btn{
    background-color: darkslategray;
    border-radius: 25px;
    padding: 5px 25px;
    color: white;

    &.add:before{
        content: '+';
    }

    &[disabled]{
        background-color: rgb(115, 138, 138);
        cursor: default;
    }
}