
button{
    cursor: pointer;
    font-size: 14px;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.action-btn{
    background-color: darkslategray;
    padding: 5px 25px;
    color: white;
    line-height: 17px;

    &.add:before{
        content: "+";
        font-size: 20px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: text-bottom;
    }

    &[disabled]{
        background-color: rgb(115, 138, 138);
        cursor: default;
    }
}