<header>
  <h1>My Store</h1>
</header>
<div class="actions">
  <button class="action-btn add">Add</button>
  <input class="search-input" placeholder="search products"/>
  <div class="select-group">
    <label for="sort">Sort by</label>
    <select name="sort" id="sort" #sort (change)="sortlistHandler(sort.value)">
      <option value="Recently Added">Recently Added</option>
      <option value="name" >Name</option>
    </select>
  </div>
</div>
<main>
  <section class="products-container">
    <ul class="product-list" *ngIf="productsList.length > 0">
      <li class="product-item" *ngFor="let product of productsList; let i = index" (click)="productSelection(i)">
        <img class="product-thumb" src='{{product.thumbnailImage}}'/>
        <div>
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
        </div>
        <button class="action-btn">Delete</button>
      </li>
    </ul>
  </section>
  <app-product-form
    class="selected-product-container"
    *ngIf="productSelected" 
    [productSelected]="productSelected" 
    (updatedProduct)="productUpdate($event)"
  ></app-product-form>
</main>