header{
    color: white;
    background-color: gray;

    h1{
        display: block;
    }
}

.products-container, .actions{
    width: 55%;
    position: relative;

    @media screen and (max-width: 1024px){ 
        width: 100%;
    }

}

.pagination-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-input{
        width: 55%;
        border-radius: 25px;
        padding: 10px;
        box-sizing: border-box;
    }

    .select-group{
        width: 195px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @media screen and (max-width: 1024px){ 
            flex-direction: column;
    }

  
        .product-list{
            margin: 0;
            padding: 0;
            list-style-type: none;
    
            .product-item{
                display: flex;
                width: 100%;
                height: 100px;
                position: relative;
                border: 1px solid black;
                padding: 10px;
                box-sizing: border-box;
                cursor: pointer;

                &:not(:last-of-type){
                    margin-bottom: 20px;
                }

                &.selected{
                    background-color: #1a2121;
                    color: white;

                    .action-btn{
                        border: 1px solid white;
                    }
                }
    
                .product-thumb{
                    width: 110px;
                    height: 100%;
                    margin-right: 15px;
                    object-fit: cover;
                    border: 1px solid;
                }
    
                .action-btn{
                    align-self: flex-end;
                    margin-left:auto;

                    @media screen             and (max-width: 1024px){ 
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                    

                }

                @media screen         and (max-width: 1024px){ 
                    p{
                        width: 100%;
                    }

                    div {
                        width: 59%;
                    }
                }


            }
        }

        .selected-product-container{
            width: 40%;

            @media screen     and (max-width: 1024px){ 
                width: 100%;
                margin-top: 45px;
            }
        }
}


.search-input{
    width: 55%;
    position: relative;

    input{
        border: 1px solid;
        outline: 0;
        width: 100%;
        border-radius: 20px;
        height: 30px;
        padding: 0 10px 0 30px;
        box-sizing: border-box;

        
    &:focus, &:active{
        background-color: gainsboro;
    }
    }

    button{
        background-color: transparent;
        border: 0;
        position: absolute;
        top: 16px;
        left: 20px;
    }

}
