<div class="product-selected">
    <h2 class="product-selected-title">{{productSelected.name}} Details</h2>
    <form class="product-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <img src='{{productSelected.thumbnailImage}}'>
      <div class="form-inputs">
        <div class = "form-group">
            <label for="product-name">Name</label>
            <input 
              id="product-name" 
              formControlName="name"/>
            <span class="error-message" *ngIf="!productForm.get('name').valid && productForm.get('name').touched">
              {{errorMassages.required}}
              </span>
          </div>
          <div class = "form-group">
            <label for="product-desc">Description</label>
            <textarea 
              id="product-desc" 
              formControlName="description"
              ></textarea>
          </div>
          <div class = "form-group">
            <label for="number">Price</label>
            <input 
            type="number" 
            id="product-price" 
            formControlName="price"/>
            <span class="error-message" *ngIf="productForm.get('price').hasError('required') && productForm.get('price').touched">
                {{errorMassages.required}}
            </span>
            <span class="error-message" *ngIf="productForm.get('price').hasError('min') && productForm.get('price').touched">
                {{errorMassages.minPrice}}
            </span>
          </div>
      </div>
      <button class="action-btn" type="submit" [disabled]="!productForm.valid || !productForm.dirty">save</button>
    </form>

    <div class="alert-notification" *ngIf="isProductUpdatedAproval">
      <button (click)="productUpdateAprovalAlert(false)">X</button>
      <p>thank you for updating {{approvalName}}</p>
    </div>

  </div>